* {
  box-sizing: border-box;
}
table {
  position: relative;
  left: 80px;
  border-collapse: collapse;
}
.point {
  width: 10px;
  height: 10px;
}
tr {
  height: 60px;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
th {
  width: 80px;
  height: 50px;
}
td {
  height: 80px;
  vertical-align: bottom;
}
.time {
  /* position: fixed; */
  overflow: scroll;
  left: 6px;
  z-index: 1;
}
.tableHead {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid black;
}
input[type="date"] {
  position: relative;
  padding: 0 10px;
  height: 36px;
  border: 0;
  box-sizing: border-box;
  font-size: 15px;
  color: #999;
}
